<form action="/articles" method="post">
    Title: <input type="text" name="title" id="title">
    <p>
        Content: <input type="text" name="content" id="content">
    </p>
    <input type="submit" value="submit">
</form>