<%# This view will be a blank form that should submit a POST request to /articles. (Look up the method and action attributes for HTML forms if you aren't sure how to do this). %>

<form method="POST" action="/articles">
    <input type="text" name="title">
    <input type="text" name="content">
    <input type="submit" value="Submit">
</form>