<form method="POST" action='/articles'>
<label for='title'>Title: </label><input type ="text" name ="title" id="title">
<br>
<label for="content">Content: </label> <textarea name="content" id="content">Input Content here</textarea>
<br>
<input type= 'submit' name = 'Submit'>


</form>