<form method='POST' action='/articles'>
<h1>Create a new article</h1>
<p>Title: <input type='text' name='title'></p>
<p>Content: <textarea name='content'></textarea></p>
<input type='submit' id='submit'>
</form>