<form method="POST" action="/articles/new"> 
  <label>Title: </label>
  <input type="text" name="title">
  </br>
  <label>Content: </label>
  <input type="text" name="content">
  </br> 
  <button type="submit">post</button> 
</form>